<!DOCTYPE html>
<html lang="en">
<head>
    <title>Omelette</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- UIKit framework --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>
    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Roboto" rel="stylesheet">
    {{!-- custom stylesheet --}}
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>

{{!-- header nav here --}}

<div class="uk-container">

    {{{body}}}

</div> {{!-- closing container --}}

{{!-- footer here --}}

</body>
</html>