<h1 class="uk-text-center">Have Some Breakfast</h1>

<hr class="uk-divider-icon">

<div class="uk-text-center">
    {{!-- <iframe src="https://giphy.com/embed/3oKIPbhmYk6Y9vQlmE" width="480" height="386" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/deadsetonlife-matty-mathesson-3oKIPbhmYk6Y9vQlmE">via GIPHY</a></p> --}}

    <div>
        <p>Add a breakfast dish to the menu:</p>
        {{!-- input here --}}
        <form>
            <fieldset class="uk-fieldset">
                <div>
                    <input class="uk-input uk-form-width-large uk-form-medium" type="text">
                </div>
            </fieldset>
        </form>
        <button class="uk-button uk-button-default"><span uk-icon="plus"></span> add dish</button>
    </div>
</div>
 

